#page_pillars {
  width: 100%;
}

.dashboard {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

.minions {
  padding: 0px;
}

.minions li {
  list-style: none;
  border-bottom: 1px solid #4caf50;
  padding: 10px 0px;
}

.minions li:last-of-type {
  border-bottom: 0;
}

.minions li div {
  display: inline-block;
  margin-right: 20px;
}

.minions li div:last-of-type {
  margin-right: 0;
}

.minions li .hostname {
  font-weight: 500;
  font-size: 17px;
  min-width: 240px;
}

.minions li .pillarinfo {
  min-width: 120px;
}

.pillars {
  padding: 0px;
}

.pillars li {
  list-style: none;
  border-bottom: 1px solid #4caf50;
  padding: 10px 0px;
}

.pillars li:last-of-type {
  border-bottom: 0;
}

.pillars li div {
  display: inline-block;
  margin-right: 20px;
}

.pillars li div:last-of-type {
  margin-right: 0;
}

.pillars li .pillar_name {
  font-weight: 500;
  font-size: 17px;
  min-width: 120px;
  vertical-align: top;
}

.pillars li .pillar_hidden,
.pillars li .pillar_shown {
  font-weight: 500;
  font-size: 17px;
  font-family: inherit;
  white-space: pre-wrap;
  overflow-x: auto;
  display: inline-block;
  cursor: pointer;
}

.minions li .pillars {
  min-width: 120px;
  max-width: 500px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.minions li {
  position: relative;
}

pre .hostname {
  color: #4caf50;
  display: inline-block;
  margin-top: 12px;
}

pre .hostname:first-of-type {
  margin-top: 0;
}

#popup_runcommand {
  display: none;
}

.pillars-list {
  flex-basis: 50%;
  margin-right: 0;
  display: inline-block;
}

.pillar_name {
  float: left;
}
